body {
    font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans,
                  sans-serif;
    background-color: #ECEEEE;
    color: #000000;
}

#container {
    width: 60em;
    padding: 1em;
    margin-left: 5em;
}

#main {
    max-width: 45em;
    text-align: left;
    float: left;
}

#sidebar {
    float: left;
    width: 150px;
    margin-left: 50px;
    padding: 20px;
    background-color: #CCDDDD;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#sidebar p {
    margin-bottom: 0;
}

#sidebar img {
    margin-left: 0;
    margin-right: auto;
    width: 100%
}

.byline {
    font-weight: bold;
}

#title {
    margin-bottom: 3em;
}

a {
    color: #5C7458;
}
a:visited {
    color: #454B44;
}
a:hover {
    color: #629E57;
}

#content {
    margin-bottom: 2em;
}

#disqus table, #disqus th, #disques td {
    border: none;
}

#disqus {
    margin-top: 1em;
    width: 80%;
}

.float-left {
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em;
}
