body {
    font-family: Palatino, 'Palatino Linotype', Book Antiqua, serif;
    line-height: 1.2;
    text-rendering: optimizelegibility;

    background-color: #ECEEEE;
    color: #333;
}

h1 {
    margin-top: 0;
}

/* Start Layout */
#container {
    position: absolute;
    top: 2em;
    left: 4em;
}

#main {
    width: 40em;
    text-align: left;
    position: absolute;
    top: 0em;
    left: 0;
}

#sidebar {
    position: absolute;
    top: 0em;
    left: 42em;
    width: 150px;
    margin-left: 50px;
    padding: 15px;

    background-color: #C9D5D5;

    -moz-border-radius: 15px;
    border-radius: 15px;
}


/* End Layout */

h2 {
    font-size: medium;
}

#sidebar p {
    margin-bottom: 0;
}

#sidebar img {
    margin-left: 0;
    margin-right: auto;
}

#icons {
    margin-top: 0.5em;
}

#icons img {
    margin-right: 5px;
}

.byline {
    font-weight: bold;
}

a {
    color: #5C7458;
}
a:visited {
    color: #454B44;
}
a:hover {
    color: #629E57;
}

#content {
    margin-bottom: 2em;
}

#disqus table, #disqus th, #disques td {
    border: none;
}

#disqus {
    margin-top: 1em;
    width: 80%;
}

.float-left {
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em;
}
