body {
    font-family: Palatino, 'Palatino Linotype', Book Antiqua, serif;
    line-height: 1.2;
    text-rendering: optimizeLegibility;

    background-color: #ECEEEE;
    color: #333;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.3em;
    font-size: 200%;
}

h2 {
    font-size: 130%;
}

.subtitle {
    margin-top: 0;
}

h3 {
    font-size: 110%;
}

.byline {
    font-weight: bold;
}

/* Start Layout */

/* The default stuff is for small screens, it is modified later by media query
for large screens. */

#container {
    position: absolute;
    top: 2em;
    left: 1em;
    padding-right: 1em;
}

#main {
    max-width: 40em;
    text-align: left;
}

#sidebar {
    background-color: #C9D5D5;
    padding: 15px;
}

img {
    max-width: calc(100vw - 2em);
    height: auto;
}

@media (min-width: 920px) {
    #container {
        left: 4em;
    }

    #main {
        position: absolute;
        top: 4em;
        left: 0;
        width: 40em;
    }

    #sidebar {
        position: absolute;
        top: 0em;
        left: 42em;

        width: 150px;
        padding: 15px;

        -moz-border-radius: 15px;
        border-radius: 15px;
    }
}

/* End Layout */

#sidebar p {
    margin-bottom: 0;
}

#sidebar img {
    margin-left: 0;
}

#icons {
    margin-top: 0.5em;
}

#icons img {
    margin-right: 5px;
}

a {
    color: #5C7458;
}
a:visited {
    color: #454B44;
}
a:hover {
    color: #629E57;
}

#content {
    margin-bottom: 2em;
}

#disqus table, #disqus th, #disques td {
    border: none;
}

#disqus {
    margin-top: 1em;
    width: 80%;
}

#tags {
    margin-top: 1em;
}

.float-left {
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.inline-tag-list {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

.inline-tag-list li {
    display: inline;
}

.inline-tag-list li:after {
    content: ", ";
}

.inline-tag-list li:last-child:after {
    content: "";
}
