body {
    max-width: 50em;
    margin: 0;
    padding-right: 1em;
    padding-left: 1em;

}

table, th, td {
    border: 2px solid #ccc;
    border-collapse: collapse;
}

th, td {
    padding: 0.2em;
    text-align: left;
}

code.block, pre.block {
    margin-left: 2em;
}

.centre {
    text-align: center;
}

svg.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

svg {
    margin: 10px;
}

img {
    border: none;
    max-width: 100%;
}

img.rounded {
    border-radius: 10px;
    -moz-border-radius: 10px;
}

.plain-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

#map {
    max-width: calc(100vw - 3em);
    height: auto;
}
