body {
    max-width: 50em;
}

table, th, td {
    border: 2px solid #ccc;
    border-collapse: collapse;
}

th, td {
    padding: 0.2em;
    text-align: left;
}

code.block, pre.block {
    margin-left: 2em;
}