<div id="sidebar" class="h-card">
  <a href="/" rel="me">
    <img class="u-photo" width="150" height="150"
         src="/img/me.png"
         alt="A picture of River MacLeod.">
  </a>
  <p class="p-note">
    I'm <a rel="me" href="https://mm0hai.net" class="p-name u-url">River MacLeod</a>,
    a nomadic hacker.
  </p>
  <div id="icons">
    <a href="https://github.com/anm" rel="me">
      <img src="/img/github.png" height="16" width="16" alt="Github logo"></a>
    <a href="https://twitter.com/macleodan" rel="me">
      <img src="/img/twitter.png" alt="Twitter logo." height="16" width="16"></a>
    <a href="/atom.xml"><img src="/img/feed.png" alt="Feed symbol." height="16" width="16"></a>
  </div>
</div>
