<!DOCTYPE html>
<html lang="en-gb">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width" />
<link type="text/css" href="/css/mm0hai.css" rel="stylesheet" />
<link type="text/css" href="/css/blog.css" rel="stylesheet" />
<!-- Syntax hightlighting -->
<link type="text/css" href="https://github.com/mojombo/tpw/raw/master/css/syntax.css" rel="stylesheet" />

<style>
body {
background-color: {{ page.background-colour }};
}
</style>
<title>
{{page.title}}
</title>

</head>
<body>
<div id="container">
<h1><a href="/">MM0HAI</a></h1>
<hr />

{{ content }}

<hr />
&copy; 2011 <a href="http://mm0hai.net" rel="author">Alistair N. MacLeod</a>
</div>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20771949-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
