---
layout: default
headers: <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="River's Blog." />
---

<article class="h-entry">
<header>
<div id="title">
  <h1 class="p-name">{{ page.title }}</h1>
  <h2 class="subtitle">{{page.subtitle}}</h2>
  {% if page.date %}
  <span class="byline">
    Last Updated: <time class="dt-updated" datetime="{{page.date | date_to_xmlschema}}">
      {{ page.date | date_to_string}}</time>
  </span>
  {% endif %}
</div>
</header>

<div id="content" class="e-content">
{{ content }}
</div>

{% include id_card.html %}

<footer>
  <p>If you found this interesting, you should
     <a href="https://twitter.com/rivermacleod" rel="me">follow me on twitter</a>.
  <br />
  You can send comments to web @ this domain.
  </p>

<div id="tags">
Tagged:
<ul class="inline-tag-list">
  {% for tag in page.tags %}
  <li><a href="/blog/tag/{{tag}}">{{tag}}</a></li>
  {% endfor %}
</ul>
</div>
</footer>
</article>
