---
layout: default
headers: <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="ANM's Blog." />
---

<div id="title">
  <h1>{{ page.title }}</h1>
  <h2 class="subtitle">{{page.subtitle}}</h2>
  <span class="byline">Last Updated: {{ page.date | date_to_string}}</span>
</div>

<div id="content">
{{ content }}
</div>

<p>If you found this interesting, you
should <a href="https://twitter.com/macleodan" rel="me">follow me on twitter</a>.</p>

<a class="FlattrButton" style="display:none;"
    title="{{ page.title }}"
    data-flattr-uid="mm0hai"
    data-flattr-tags="{{ page.tags }}"
    data-flattr-button="compact"
    data-flattr-category="text"
    href="{{ site.url }}{{ page.url }}">
</a>

<div id="tags">
Tagged:
<ul class="inline-tag-list">
  {% for tag in page.tags %}
  <li><a href="/blog/tag/{{tag}}">{{tag}}</a></li>
  {% endfor %}
</ul>
</div>

<hr />
<p>Please send comments and corrections to mm0hai @ this domain or use
the commenting system below.</p>

<div id="disqus">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    // var disqus_developer = 1;
    var disqus_shortname = 'mm0hai';
    var disqus_identifier = '{{ page.id }}';
    var disqus_url = 'http://mm0hai.net{{ page.url }}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
</div>

<noscript>Please enable JavaScript to view
the <a href="http://disqus.com/?ref_noscript">comments powered by
Disqus.</a></noscript>
