---
layout: default
headers: <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="River's Blog." />
---

<article class="h-entry">
<header>
<div id="title">
  <h1 class="p-name">{{ page.title }}</h1>
  <h2 class="subtitle">{{page.subtitle}}</h2>
  {% if page.date %}
  <span class="byline">
    Last Updated: <time class="dt-updated" datetime="{{page.date | date_to_xmlschema}}">
      {{ page.date | date_to_string}}</time>
  </span>
  {% endif %}
</div>
</header>

<div id="content" class="e-content">
{{ content }}
</div>

{% include id_card.html %}

<footer>
<p>If you found this interesting, you
should <a href="https://twitter.com/rivermacleod" rel="me">follow me on twitter</a>.</p>

<div id="tags">
Tagged:
<ul class="inline-tag-list">
  {% for tag in page.tags %}
  <li><a href="/blog/tag/{{tag}}">{{tag}}</a></li>
  {% endfor %}
</ul>
</div>
</footer>
</article>

<hr />
<p>Please send comments and corrections to mm0hai @ this domain or use
the commenting system below.</p>

<div id="disqus">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    // var disqus_developer = 1;
    var disqus_shortname = 'mm0hai';
    var disqus_identifier = '{{ page.id }}';
    var disqus_url = 'https://mm0hai.net{{ page.url }}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
</div>

<noscript>Please enable JavaScript to view
the <a href="//disqus.com/?ref_noscript">comments powered by
Disqus.</a></noscript>
