---
layout: default
headers: <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="River's Blog." />
---

<article class="h-entry">
<header>
<div id="title">
  <h1 class="p-name">{{ page.title }}</h1>
  <h2 class="subtitle">{{page.subtitle}}</h2>
  <span class="byline"><time class="dt-published" datetime="{{page.date | date_to_xmlschema}}">{{ page.date | date_to_string}}</time></span>
</div>
</header>

<div id="content" class="e-content">
{{ content }}
</div>

{% include id_card.html %}

<footer>
<div id="tags">
Tagged:
<ul class="inline-tag-list">
  {% for tag in page.tags %}
  <li><a href="/blog/tag/{{tag}}">{{tag}}</a></li>
  {% endfor %}
</ul>
</div>
<p class="twitter-ask">If you found this interesting, you
  should <a href="https://twitter.com/rivermacleod" rel="me">follow me on twitter</a>.</p>

<nav class="prev-next">
  {% if page.previous.url %}
  <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
  <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</nav>

</footer>
</article>

<div id="related" class="clear">
<h2>Further Bloviations</h2>
<ul>
    {% for post in site.related_posts %}
      <li><span>{{ post.date | date_to_string }}</span>
      &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
</div>

<div id="disqus">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    // var disqus_developer = 1;
    var disqus_shortname = 'mm0hai';
    var disqus_identifier = '{{ page.id }}';
    var disqus_url = 'https://mm0hai.net{{ page.url }}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
</div>

<noscript>Please enable JavaScript to view
the <a href="//disqus.com/?ref_noscript">comments powered by
Disqus.</a></noscript>
